@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.ttf');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face("coreSans", "../../fonts/CoreSansG-Regular", 400);
@include font-face("coreSans", "../../fonts/CoreSansG-Bold", 600);